
.bottom-tab-view {
  width: 100%;
  height: rem(120rem);
  box-shadow: 0 rem(2rem) rem(6rem) rgb(19 88 152);
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: $theme-bg-color;
  font-size: rem(12rem);
  $menus: 'home', 'promotion', 'customer-service', 'sponsor', 'personal';
  .tab-item {
    color: $theme-txt-color1;
    @each $n in $menus {
      .icon-#{$n} {
        // background: url(imgUrl('bottom-tab/icon-' + $n + '.webp')) center no-repeat;
        background-size: 100%;
      }
    }
    &.active {
      @each $n in $menus {
        .icon-#{$n} {
          // background: url(imgUrl('bottom-tab/icon-' + $n + '-active' + '.webp')) center no-repeat;
          background-size: 100%;
        }
      }
    }
    .menu-icon {
      width: rem(50rem);
      height: rem(50rem);
    }
  }
}