.top-info{
  height: rem(620rem);
  width: 100%;
  background-image: url(link('/assets/blue/kok/vip/zhuangshiBg@2x.webp'));
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: rem(178rem);
  margin-top: rem(-88rem);
  .info{
    width: 100%;
    height: rem(172rem);
    position: relative;
    margin-top: rem(16rem);  
    padding: 0 rem(40rem) 0 rem(40rem);
  }
  .info-avatar{
    width: rem(96rem);
    height: rem(96rem);
    border-radius: 50%;
    margin-right: rem(20rem);
    font-size: 0;
    .vip-level-icon{
      position: absolute;
      width: rem(36rem);
      height: rem(34rem);
      bottom: 0;
      right: 0;
    }
  }
  .info-username{
    flex: 1;  
    .username{
      line-height: rem(44rem);
      font-size: rem(32rem);
      color: $theme-vip-username-txt;
      margin-bottom: rem(6rem);
    }
    .rank{
      line-height: rem(34rem);
      font-size: rem(24rem);
      color: $theme-vip-jiondays-txt;
    }
  }
  .vip-level-pic{
    width: rem(144.4rem);
    height: rem(160rem);
    pointer-events: none;
  }
  
  .vip-progress{
    display: flex;
    margin-left: rem(60rem);
    margin-top: rem(8rem);
    margin-right: rem(60rem);
    height: rem(78rem);
    .level{
      border-radius: rem(16rem);
      width: rem(64rem);
      height: rem(28rem);
      span{
        font-size: rem(24rem);
        font-family: DINPro-Medium;
        transform: scale(0.8);
        display: block;
      }
    }
    .pre-level{
      background: $theme-vip-pre-level-bg;
      box-shadow: $theme-vip-pre-level-shadow;
      span{
        color: $theme-vip-top-bg;
      }
    }
    .next-level{
      background-color: $theme-vip-next-levle-bg;
      span{
        color: $theme-vip-next-level-txt;
      }
    }
    .progress{
      width: rem(480rem);
      margin-left: rem(12rem);
      margin-right: rem(12rem);
      height: 100%;
      .progress-strip{
        width: rem(480rem);
        height: rem(32rem);
        overflow: hidden;
        display: flex;
        transform: translateY(rem(4rem));
      }
      .progress-strip::after{
        content: '';
        display: block;
        height: rem(32rem);
        background-size: auto rem(32rem);
        background-position: left center;
        width: rem(15rem);
        top: 0;
        left: 0;
        z-index: 6;
        position: absolute;
        transform: scale(1.6);
        @include webp('/assets/blue/kok/vip/kok_progress_cover.png');
      }
      .trip{
        transform: translateY(rem(-8rem));
        width: rem(480rem);
        height: rem(16rem);
        background-color: $theme-vip-trip-bg;
        border-radius: rem(8rem);
        align-self: flex-end;
      }
      .now-strip-shadow{
        display: block;
        width: rem(480rem);
        height: rem(40rem);
        bottom: rem(-18rem);
        left: 0;
        background-size: 100% 100%;
        position: absolute;
        @include webp('/assets/blue/kok/vip/kok_touying.png');
      }
      .now-strip{
        width: rem(590rem);
        height: rem(32rem);
        z-index: 5;
        position: absolute;
        background-image: url(link('/assets/blue/kok/vip/kok_progress.webp'));
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        top: 50%;
        transform: translate(rem(-590rem),-50%);
        left: 12%;
        .tirp-soccer{
          position: absolute;
          right: rem(8rem);
          top: 50%;
          transform: translateY(-50%);
          width: rem(24rem);
          height: rem(24rem);
        }
      }
      .float-num{
        position: absolute; 
        font-size: 0;
        top: 0;
        text-align: center;
        left: 6.31%;
        transform: translateX(-50%);
        p{
          font-size: rem(20rem);
          transform: scale(0.8);
          color: $theme-vip-float-num-txt;
          margin-bottom: rem(4rem);
          font-family: DINPro-Medium;
        }
        img{
          width: rem(16rem);
        } 
      }
    }
  }

  .deposit{
    margin-top: rem(34rem);
    height: rem(58rem);
    width: 100%;
    margin-bottom: rem(60.4rem);
    li{
      height: rem(38rem);
      padding-top: rem(18rem);
      font-size: rem(20rem);
      div{
        width: rem(8rem);
        height: rem(8rem);
        background-color: $theme-vip-list-style-bg;
        border-radius: 50%;
        margin-left: rem(60rem);
      }
      span{
        margin-left: rem(8rem);
        color: $theme-vip-list-span-txt;
      }
      i.active{
        font-size: rem(24rem);
        color: $theme-vip-list-i-active-txt;
        margin-left: rem(6rem);
      }
    }
  }
}