
.swiper-group{
  color: $theme-vip-card-txt; 
  .van-sticky{
    background: $theme-vip-swiper-group-bg; 
  }
  .swiper-container{
    height: rem(270rem);
    margin-top: rem(40rem);  
    .swiper-slide{
      width: 300PX;
      height: rem(270rem);
    }
    .card-item{
      @include webp('/assets/blue/kok/vip/cardBg.png');
      background-position: center;
      height: rem(270rem);
      width: 100%;
      background-size: 100% 100%;
      transform: scale(0.90);
      transition: transform .3s ease;
      box-shadow: 0 rem(6rem) rem(16rem) 0 rgba(59,85,113,.3), inset 0 rem(2rem) rem(1rem) 0 #fff;
      border-radius: rem(16rem);
    }
    .card-head{
      width: rem(116rem);
      height: rem(44rem);
      font-size: rem(24rem);
      @include webp('/assets/blue/kok/vip/vipbg.png');
      background-position: center;
      background-size: 100%;
      margin-top: rem(-2rem);
    }
    .card-content{
      padding-right: rem(30rem);
      padding-left: rem(68rem);
      margin-top: rem(26rem);
      position: relative;
      .vip-number{
        font-size: rem(60rem);
        font-weight: 900;
        font-family: PingFangSC-;
      }
      img{
        width: rem(120rem);
        object-fit: cover;
        position: absolute;
        right: rem(40rem);
        top: rem(-50rem);
      }
    }
    .card-bottom{
      margin-top: rem(30rem);
    }
    .card-bottom-item{
      p:nth-child(1){
        font-size: rem(28rem);
        line-height: rem(28rem);
        margin-bottom: rem(6rem);
      }
      p:nth-child(2){
        color: $theme-vip-card-txt2;
        font-size: rem(20rem);
      }
    }
    .swiper-slide-active{
      .card-item{
        transform: scale(0.95);  
      }
    }
  }
  .proress-bar-div{
    overflow: hidden;
    height: rem(77rem);
    padding-top: rem(33rem);
    padding-bottom: rem(80rem);
    position: relative;
  }
  .progress-bar{
    position: absolute;
    top: rem(30rem);
    height: rem(44rem);
    line-height: rem(44rem);
    white-space: nowrap;
    padding-left: rem(20rem);
    transition: all ease-out 200ms;
    .progress-bar-item.now-level{
      background: $theme-vip-progressbar-item-now-bg;
      border: 1PX solid $theme-vip-progressbar-item-now-bd;
      color: $theme-vip-progressbar-item-active-txt;
    }
    .progress-bar-item.now-level.active{
      box-shadow: $theme-vip-progressbar-item-now-shadow;
    }
  }
  .progress-bar-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: DINPro-Medium;
    vertical-align: middle;
    background: $theme-vip-progressbar-item-bg;
    font-size: rem(24rem);
    color: $theme-vip-progressbar-item-txt;
    text-align: center;
    border-radius: rem(16rem);
    border: 1PX solid $theme-vip-progressbar-item-bd;
    width: rem(64rem);
    height: rem(32rem);
    position: relative;
  }
  .progress-bar-item.active{
    background: $theme-vip-progressbar-item-active-bg;
    color: $theme-vip-progressbar-item-active-txt;
    width: rem(76rem);
    height: rem(32rem);
    box-shadow: $theme-vip-progressbar-item-active-shadow;
  }
  .progress-bar-item-line{
    width: rem(156rem);
    display: inline-block;
    height: rem(4rem);
    background-color: $theme-vip-progressbar-line-bg;
    vertical-align: middle;
    width: rem(94rem);
  }
  .page-num{
    margin-top: rem(54rem);
    height: rem(56rem);
    margin-left: rem(642rem);
    font-family: DINPro-Medium;
    color: $theme-vip-swiper-page-active-txt;
    span{
      font-family: DINPro-Medium;
      color: $theme-vip-swiper-page-txt;
    }
  }
}