// background: url(imgUrl('/about/about-star.png')) no-repeat;
.cse {
  &-top {
    z-index: 5;
  }
  &-tab-wp {
    //background: map.get($colors, white);
  }
  &-tab {
    width: 50%;
    margin: 0 auto;
    div {
      padding: rem(8rem) 0;
      height: rem(100rem);
      color: $theme-txt-color17;
      line-height: rem(80rem);
      &.active {
        color: $theme-bd-color13;
        &:after {
          content: '';
          position: absolute;
          background-color: $theme-bd-color13;
          display: block;
          z-index: 1;
          bottom: 0;
          left: 0;
          width: 100%;
          height: rem(4rem);
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
  &-tab-list {
    margin-top: rem(240rem);
    //background: map.get($colors, white);
    .cse-tab-pre,
    .cse-tab-next {
      top: rem(205rem);
      height: rem(96rem);
      width: rem(120rem);
      z-index: 999;
      background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    }
    .cse-tab-pre {
      left: 0;
    }
    .cse-tab-next {
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    }
    ::v-deep(.cse-tabs) {
      //background: map.get($colors, white);
    }
    ::v-deep(.van-tab) {
      font-size: rem(28rem);
    }
    ::v-deep(.van-tabs__nav) {
      border-color: $theme-bd-color12 !important;
      padding: 0;
    }
    ::v-deep(.van-sticky),
    ::v-deep(.van-sticky--fixed) {
      position: fixed;
      top: rem(190rem) !important;
      width: 100%;
      height: rem(124rem) !important;
      padding: rem(20rem) 0 rem(14rem);
    }
    ::v-deep(.van-tabs__line) {
      display: none;
    }
    ::v-deep(.van-tabs--line .van-tabs__wrap) {
      height: rem(88rem);
    }
    ::v-deep(.van-sticky) {
      border-bottom: rem(2rem) solid $theme-bd-color12;
      //background: map.get($colors, white);
    }
    ::v-deep(.van-tab) {
      width: 20%;
      height: rem(60rem);
      margin: rem(10rem) 0;
      // color: $theme-txt-color17 !important;
    }
    ::v-deep(.van-tab--active) {
      margin: rem(10rem) 2.5%;
      padding: rem(8rem) 0;
      border-radius: rem(30rem);
      background-image: linear-gradient(to right, #3573ff, #87ccff);
    }
  }
  .cse-stp-top {
    width: 90%;
    margin: 0 auto;
    color: $theme-txt-color12;
    border: 0;
    height: rem(100rem);
    color: $theme-txt-color12;
    border-bottom: rem(1rem) solid $theme-bd-color12;
    img {
      margin-right: rem(20rem);
      width: rem(6rem);
      height: rem(32rem);
    }
  }
  .cse-step {
    padding-bottom: rem(100rem);
  }
  .cse-img {
    display: inline-block;
    width: 90%;
    margin: rem(60rem) 5% 0;
    background-size: contain;
  }
}
