.add-bank {
  border: none;
  .phone-form-item {
    height: rem(130rem);
    border: none;
  }
  .bank-bod {
    border-bottom: rem(1rem) solid $theme-bd-color3;
  }
  .bank-name {
    color: $theme-pld-color;
  }
  .bank-active {
    color: #000;
  }
  .phone-form-right {
    width: rem(32rem);
    height: rem(32rem);
  }
  .bank-tip {
    padding: rem(20rem) rem(32rem);
    line-height: rem(40rem);
    height: rem(120rem);
    color: $theme-txt-color37;
    background: $theme-bg-color1;
  }
}
.sel-list {
  span {
    $icons: 'boc', 'ccb', 'abc', 'icbc', 'psbc', 'cmb', 'bocom', 'cibk', 'pabc',
      'cebc', 'spdb', 'cgb', 'hxbc', 'fjib', 'cmbc', 'nbb', 'bjyh', 'czb',
      'jilin', 'czcb', 'cscb', 'bgb', 'gdrc', 'glb', 'bod', 'hzyh', 'jsbc',
      'gxnx', 'njyh', 'hfyh', 'sznsyh', 'whnsyh', 'bosh', 'hrbb', 'qdyh',
      'bjsyyh';
    @each $i in $icons {
      &.icon-#{$i} {
        background: url(link('/assets/blue/kok/bank/icon-' + $i + '.webp'))
          center
          no-repeat;
        background-size: 100%;
      }
    }
  }
}
.coin-bot {
  margin: rem(40rem) rem(32rem) rem(-20rem);
  line-height: rem(40rem);
  color: $theme-txt-color37;
}
