.bank {
  .van-tab {
    color: $theme-tabtxt-color !important;
  }
  .van-tab--active {
    color: $theme-txt-color11;
  }
  &-tab {
    padding-top: 30%;
  }
  &-default {
    width: rem(330rem);
    display: block;
    margin: 0 auto rem(36rem);
  }
  &-add {
    margin: 0 auto;
    width: rem(694rem);
    height: rem(164rem);
    line-height: rem(164rem);
    border-radius: rem(20rem);
    color: $theme-banktxt-color;
    background: map.get($colors, white);
    img {
      width: rem(42rem);
      height: rem(42rem);
    }
  }
  &-footer {
    margin-top: rem(24rem);
    color: $theme-bankbot-color;
  }
}
.nav {
  .van-nav-bar__content {
    height: rem(30rem);
  }
}
.van-tab {
  color: $theme-tabtxt-color !important;
}
