.personal-view {
  font-size: rem(12rem);
  background-color: $theme-bg-color6;
  .top-sec {
    height: rem(512rem);
    // background: url(webp('personal/top-bg.png')) center no-repeat;
    @include webp('personal/top-bg.png');
    @include webp('');
  }
  .u-name-wp {
    &>div {
      color: $theme-txt-color3;
    }
  }
  .set-sec {
    padding: rem(22rem) rem(28rem) 0 0;
  }
  .info-sec {
    padding: 0 0 0 rem(32rem);
    margin-top: -rem(10rem);
  }
  .avator-wp {
    width: rem(128rem);
    height: rem(128rem);
    margin-right: rem(24rem);
  }
  @mixin icon($url) {
    width: rem(40rem);
    height: rem(40rem);
    // background: url(webp($url)) center no-repeat;
    @include webp($url);
    background-size: rem(40rem) 100%;
  }
  .icon-notice {
    @include icon($base-img-dir + 'personal/icon-msg.png');
    margin-right: rem(30rem);
  }
  .icon-setting {
    @include icon($base-img-dir + 'personal/icon-setting.png');
  }
  .oper-panel {
    padding: rem(30rem) rem(70rem) 0 rem(68rem);
  }
  .menu-item {
    margin: 0 rem(14rem);
    color: $theme-txt-color4;
    @each $n in 'deposit' 'transfer' 'withdraw' {
      .icon-#{$n} {
        width: rem(88rem);
        height: rem(88rem);
        // background: url(webp($base-img-dir + 'icon-' + $n + '.webp')) center no-repeat;
        @include webp($base-img-dir + 'icon-' + $n + '.png');
        background-size: 100%;
      }
    }
  }
  .shelf-show-wp {
    width: 100%;
    height: rem(162rem);
    // background: url(webp($base-img-dir + 'personal/bottom-bg.png')) bottom center no-repeat;
    @include webp($base-img-dir + 'personal/bottom-bg.png');
    background-size: 100% rem(50rem);
    margin-top: rem(20rem);
    &>div {
      width: rem(648rem);
      height: rem(162rem);
      // background: url(webp($base-img-dir + 'personal/row-bg.png')) center no-repeat;
      @include webp($base-img-dir + 'personal/row-bg.png');
      background-size: 100% 100%;
      margin: 0 auto;
    }
    .shelf-items {
      padding: 0 rem(32rem);
      &>div {
        padding: 0 0 0 rem(85rem);
      }
      .title {
        color: $theme-txt-color14;
      }
      .desc {
        color: $theme-txt-color7;
        transform: scale(0.9);
        margin-left: -6%;
      }
    }
    .vip {
      // background: url(webp('personal/icon-vip.png')) left center no-repeat;
      @include webp('personal/icon-vip.png');
      background-size: rem(80rem) rem(90rem);
      &>div:first-child {
        color: $theme-txt-color14;
      }

    }
    .invite {
      // background: url(webp('personal/icon-heart.png')) left center no-repeat;
      @include webp('personal/icon-heart.png');
      background-size: rem(80rem) rem(90rem);
    }
  }
  .often-use-wp {
    padding: 0 rem(44rem);
    background-color: $theme-txt-color10;
    &>header {
      line-height: rem(90rem);
      border-bottom: rem(1rem) solid rgba(232,235,247,0.5);
      color: $theme-txt-color3;
    }
  }
  .often-use-list {
    padding: rem(34rem) 0 rem(40rem) 0;
  }
  .often-use-item {
    color: $theme-txt-color14;
    img {
      width: rem(92rem);
      height: rem(84rem);
    }
  }
}
