.share-view{
  &-content{
    position: relative;
    background-image: url(link('/assets/blue/kok/share/__al__invitation_bg.webp'));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: rem(840rem);
    background-color: $theme-share-content-bg;
    padding-bottom: rem(60rem);  
  }
  &-content-wrap{
    width: 92%;
    margin: auto;
    margin-bottom: rem(20rem);
    padding-bottom: rem(24rem);
    background: $theme-share-content-wrap-bg;
    border-radius: rem(20rem);
    box-shadow: $theme-share-content-wrap-shadow;
    overflow: hidden;
  }
  .three-step-title{
    padding-top: rem(50rem);
    img{
      width: rem(112rem);
    }
  }
  .three-step-text{
    font-size: rem(32rem);
    font-weight: 700;
    color: $theme-share-step-text;
    padding: rem(10rem);
  }
  .three-step-content{
    margin: rem(60rem) rem(32rem);
    &-item{
      text-align: center;
      img{
        width: rem(84rem);
        padding-bottom: rem(10rem);
      }
    }
    &-next{
      img{
        width: rem(36rem);
        padding-top: rem(32rem);  
      }
    }  
  }
  .three-step-table{
    width: rem(632rem);
    margin: auto;
    border-radius: rem(20rem);
    overflow: hidden;
    table{
      border-spacing: 0;
      border-collapse: collapse;
    }
    tr:first-child{
      background: $theme-share-table-first-tr-bg;
    }
    th{
      color: $theme-share-table-first-txt;
    }
    th,td{
      border: 1PX solid $theme-share-table-bd;
      height: rem(80rem);
      line-height: rem(80rem);
      text-align: center;
    }
    td{
      color: $theme-share-table-txt;
    }
  }
  .content-rule{
    width: rem(632rem);
    margin: rem(32rem) auto;
    padding-left: rem(24rem);
  }
  .reminder{
    font-size: rem(24rem);
    color: $theme-share-tips-txt;
    margin: rem(10rem) rem(36rem);
  }
  .invite-button{
    font-size: rem(32rem);
    width: 92%;
    color: $theme-share-invite-button-txt;
    height: rem(90rem);
    line-height: rem(90rem);
    font-weight: 700;
    text-align: center;
    background-color: $theme-share-invite-button-bg;
    border-radius: rem(10rem);
    border: 0;
    margin: .4rem auto 0;
  }
  .van-overlay{
    background-color: $theme-share-overlay-bg;
  }
  .van-popup{
    background-color: $theme-share-popup-bg;
  }
  .popup-share-list{
    padding: rem(42rem) 0 rem(42rem) rem(30rem);
    &-item{
      margin: 0 rem(24rem) 0 0;  
    }
    &-item-icon{
      margin-bottom: rem(18rem);
      width: rem(120rem);
      height: rem(120rem);
      background-color: $theme-share-popup-share-list-item-icon-bg;
      border-radius: rem(6rem);
      .copy{
        @include webp('/assets/blue/kok/share/icon_copy.png');
      }
      .down{
        @include webp('/assets/blue/kok/share/icon_down.png');
      }
      i{
        background-size: 100% auto;
        background-repeat: no-repeat;
        width: rem(100rem);
        height: rem(100rem);
      }
    }
    &-item-title{
      color: $theme-share-popup-share-list-item-title-txt;
      font-size: rem(20rem);
      text-align: center;
    }
  }
  .cancel-button{
    height: rem(100rem);
    line-height: rem(100rem);
    text-align: center;
    background-color: $theme-share-cancel-button-bg;
    color: $theme-share-cancel-button-txt;
    font-size: rem(36rem);
    position: relative;
    border:none;
  }
}
