.sponsor-view {
  overflow-y: scroll;
  .van-nav-bar{
    height: rem(90rem);
    line-height: rem(90rem);
  }
  .van-nav-bar__content{
    height: rem(90rem); 
  }
  .van-nav-bar__title{
    color: $theme-sponsor-navbar-txt;
    font-size: rem(36rem);
  }
  .sponsor-item-right{
    position: absolute;
    right: 0;
    height: 100%;
    width: rem(272rem);
    text-align: center;
    img{
      margin: rem(30rem) 0 rem(10rem);
      height: rem(116rem);
      width: auto;
    }
    h3{
      font-size: rem(28rem);
      color: $theme-sponsor-item-h3-txt;
      line-height: rem(42rem);
      margin-bottom: rem(4rem);
    }
    p{
      font-size: rem(24rem);
      margin-bottom: rem(24rem);
      color: $theme-sponsor-item-p-txt;
    }
    .van-button{
      width: rem(160rem);
      height: rem(60rem);
      line-height: rem(60rem);
      @include webp('/assets/blue/kok/btn@2x.png');
      background-size: 100% 100%;
      background-position: 0 0;
      margin: 0 auto;
      border-radius: rem(4rem);
      border: none;
      outline: none;
      font-size: rem(24rem);
      color: $theme-sponsor-item-button-txt;
    }
    .van-button::before{
      content: none;  
    }
  }
  .sponsor-item{
    margin: rem(32rem);
    overflow: hidden;
    border-radius: rem(16rem);
    height: rem(366rem);
    background: url('https://images.4vw264.com/clientManage/1594920320341540.png') 0 0 / 100% 100% no-repeat;
  }
}