.agent {
  background: url(link('/assets/blue/kok/account/agent-bg.png')) no-repeat;
  background-size: 100% 100%;
  .join-btn {
    left: 50%;
    bottom: rem(40rem);
    transform: translate(-50%, -50%);
    width: 92%;
    padding: rem(32rem);
    border-radius: rem(10rem);
    background: $theme-codeActive-color;
    color: map.get($colors, white);
  }
}
.agent-slide {
  overflow-y: auto;
  overflow-x: hidden;
  .slide-title-img {
    display: block;
    height: rem(136rem);
    margin: auto;
    margin-top: rem(60rem);
  }
  .report-title {
    height: rem(66rem);
  }
  h2 {
    line-height: rem(32rem);
    color: $theme-agh2-color;
  }
}
.contact {
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  margin-top: rem(10rem);
  padding: 0 rem(28rem);
  margin-top: rem(40rem);
  li {
    height: rem(128rem);
    padding: 0 rem(46rem) 0 rem(34rem);
    background: $theme-agbg-color;
    border-radius: rem(10rem);
    margin-bottom: rem(10rem);
  }
  img {
    margin-right: rem(16rem);
    width: rem(100rem);
    height: rem(100rem);
  }
  .copy {
    width: rem(22rem);
    height: rem(22rem);
    vertical-align: bottom;
  }
  &-way {
    width: rem(332rem);
    padding-left: rem(40rem);
    border-left: solid rem(1rem) $theme-agbl-color;
    p {
      width: 100%;
      line-height: rem(30rem);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      font-size: rem(24rem);
      padding: rem(4rem) 0;
      color: $theme-txt-color12;
    }
  }
  &-btn {
    width: rem(128rem);
    line-height: rem(48rem);
    padding: 0 rem(10rem);
    color: $theme-codeActive-color;
    border: rem(1rem) solid $theme-codeActive-color;
    border-radius: rem(5rem);
  }
}
.van-swipe-item {
  color: map.get($colors, white);
  font-size: rem(20rem);
  line-height: rem(150rem);
  text-align: center;
  // background-color: #39a9ed;
}
.my-swipe {
  ::v-deep(.van-swipe__indicators) {
    position: absolute;
    bottom: rem(130rem);
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    .van-swipe__indicator {
      border-color: $theme-codeActive-color !important;
      width: rem(12rem);
      height: rem(12rem);
      margin: 0 rem(5rem);
      border-radius: 50%;
      background: none;
      border: rem(1rem) solid $theme-swpt-color;
    }
    .van-swipe__indicator--active {
      width: rem(22rem);
      background-color: $theme-codeActive-color !important;
      border-radius: rem(20rem);
    }
  }
}
