@import '@/scss/helpers.scss';
@import '@temp/theme.scss';
@import '@site/theme.scss';
.reset-password-view{
  .reset-password-list{
    height: rem(200rem);
    background-color: $theme-bg-color;
    padding-top: rem(44rem);
    margin-bottom: 1PX;
    li{
      width: rem(234rem);
    }
    div{
      position: relative;
      display: block;
      font-style: normal;
      text-align: center;
      height: rem(58rem);
    }
    i{
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      line-height: rem(60rem);
      color: $theme-fpwd-step-num-txt;
      font-size: rem(24rem);

    }
    div::before{
      left: 0;
      width: 100%;
      height: rem(8rem);
      border-radius: rem(4rem);
      margin-top: rem(-4rem);
    }
    div::after{
      width: rem(40rem);
      height: rem(40rem);
      left: 50%;
      margin-left: rem(-20rem);
      margin-top: rem(-20rem);
      transform: rotate(45deg);
      border-radius: rem(8rem);
    }
    div::before,div::after{
      content: '';
      position: absolute;
      top: 50%;
      background: $theme-fpwd-step-line-bg;
    }
    p{
      text-align: center;
      font-size: rem(24rem);
      color: $theme-fpwd-step-txt;
      line-height: rem(34rem);
      margin-top: rem(2rem);
    }
    .reset-password-item-focus{
      div::before,div::after{
        background-color: $theme-fpwd-step-active-line-bg;
      }
      i{
        color: $theme-fpwd-step-active-num-txt;
      }
      p{
        color: $theme-fpwd-step-active-txt;
      }
    }
  }
  .step-one-tabs{
    .van-tabs__line{
      display: none;
    }
    .van-tab{
      font-size: rem(28rem);
    }
    .van-tabs__wrap{
      height: rem(90rem);
    }
    .van-tab::before{
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 0;
      background-color: $theme-fpwd-tab-line-bg;
    }
    .van-tab--active::before{
      height: rem(4rem);
      transition: height ease-in-out 150ms;
    }
    // .van

    .van-field__control{
      text-align: right;  
    }
    .van-tabs__content{
      margin-top: rem(40rem);
    }
  }
  .van-cell{
    padding: 0 rem(28rem); 
    height: rem(100rem);
    line-height: rem(100rem); 
    font-size: rem(28rem);
    input::-webkit-input-placeholder {
      color: $theme-fpwd-input-placeholder;
    }
    .van-field__button{
      display: flex;
      align-items: center;  
    }
  }
  .get-code{
    .van-button{
      background: $theme-fpwd-getcode-button-bg;
      color: $theme-fpwd-getcode-button-txt;
      line-height: rem(48rem);
      height: rem(48rem);
      width: rem(164rem);
      border-radius: rem(8rem);
      font-size: rem(24rem);
      text-align: center;
      padding: 0;
      border: 0;
    }
    .count-down{
      font-size: rem(24rem);
      color: $theme-fpwd-count-down-txt;
    }
  }
  .tips-container{
    font-size: rem(28rem);
    padding: 0 rem(28rem);
    line-height: rem(108rem);
    color: $theme-fpwd-tips-bg;   
  }
  .next-button,.to-login{
    border: none;
    outline: none;
    width: rem(694rem);
    line-height: rem(90rem);
    height: rem(90rem);
    border-radius: rem(10rem);
    margin: rem(40rem) auto 0;
    background: $theme-gradient-color;
    color: $theme-fpwd-next-button-txt;
    font-size: rem(28rem);
  }
  .to-home{
    outline: none;
    width: rem(694rem);
    line-height: rem(90rem);
    border-radius: rem(10rem);
    height: rem(90rem);
    margin: rem(40rem) auto 0;
    font-size: rem(28rem);
    color: $theme-fpwd-tohome-button-txt;
    background: transparent;
    border: rem(1rem) solid $theme-fpwd-tohome-button-bd;
  }
  .reset-password-declare{
    width: rem(600rem);
    text-align: center;
    margin: rem(40rem) auto;
    color: $theme-fpwd-cantact-tips-txt;
    font-size: rem(28rem);
    .contact-us{
      color: $theme-fpwd-cantact-us-txt;
    }
  }
  .reset-password{
    .van-field__control{
      text-align: right;  
    }
    .tips-password{
      font-size: rem(24rem);
      color: $theme-fpwd-change-pwd-tips;
      text-align: center;
      padding-top: rem(20rem);
    }
    .icon-input-show{
      @include webp('/assets/blue/kok/eyeProtection.png');
    }
    .icon-input-hide{
      @include webp('/assets/blue/kok/eyeClose.png');
    }
    .van-cell__value{
      flex: 4;
    }
    .icon-input-status{
      display: block;
      width: rem(40rem);
      height: rem(40rem);
      background-size: 100% auto;
      background-position: center center;
      margin-left: rem(24rem);
    }
    .van-field__button{
      padding-left: 0; 
    }
  }
  .van-empty{
    padding: rem(100rem) 0 0;
    .van-empty__image{
      width: rem(160rem);
      height: rem(160rem);
    }
    .van-empty__description{
      margin-top: rem(40rem);
      color: $theme-fpwd-empty-txt;
      font-size: rem(24rem);
    }
  }
}
