.msg {
  &-edit {
    right: rem(20rem);
    top: rem(10rem);
    width: rem(44rem);
    height: rem(44rem);
    z-index: 10;
  }
  &-content {
    padding: 0 rem(28rem);
    top: rem(108rem);
    height: calc(100% - 72rem);
    background-color: map.get($colors, white);
  }
  &-title-wrap {
    height: rem(120rem);
    border-bottom: rem(1rem) solid $theme-bd-color7;
  }
  &-title {
    height: rem(64rem);
    img {
      width: rem(64rem);
      height: rem(64rem);
    }
  }
  &-title-top {
    padding-left: rem(24rem);
    span {
      &:first-child {
        color: $theme-txt-color26;
      }
      &:last-child {
        color: $theme-txt-color9;
      }
    }
  }
  &-info {
    margin-top: rem(20rem);
    letter-spacing: 0em;
    line-height: rem(44rem);
    color: $theme-txt-color12;
    white-space: pre-wrap;
  }
  &-mask {
    top: 0;
    z-index: 10;
    background: $theme-entry-login-input-bg;
  }
  &-bot {
    bottom: 0;
    height: rem(288rem);
    background: map.get($colors, white);
  }
  &-delete,
  &-cancel {
    line-height: rem(100rem);
    color: $theme-txt-color11;
  }
  &-cancel {
    color: $theme-txt-color;
  }
  &-line {
    height: rem(20rem);
    background: $theme-bd-color7;
  }
}
