@import '@/scss/helpers.scss';
@import '@temp/theme.scss';
@import '@site/theme.scss';

.page-txt {
  color: $themeColor;
  font-size: 14px;
  text-align: center;
  display: block;
  @include webp('/assets/a.jpg');
}
