.about {
  &-top, &-banner {
    height: 352px;
  }
  &-logo {
    top: 172px;
    right: 0;
    left: 0;
    margin-left: -80px;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    margin-top: -20px;
  }
  h3 {
    width: 160px;
    margin: -24px auto 0;
    color: $theme-bg-color7;
  }
  &-content {
    padding-bottom: 40px;
    img {
      padding: 0 44px;
      margin-top: 60px;
    }
  }
  &-paizhao {
    display: block;
    margin-top: 52px;
    height: 32px;
    line-height: 32px;
    background: url(imgUrl('/about/about-star.png')) no-repeat;
    background-position: center center;
    background-size: contain;
    letter-spacing: 0;
    color: $theme-bg-color7;
  }
  &-tip {
    margin-top: 80px;
    padding: 0 40px;
    height: 160px;
    p {
      line-height: 40px;
      letter-spacing: 0;
      color: $theme-txt-color19;
    }
  }
}