.sel {
  &-mask {
    top: rem(0rem);
    z-index: 1000;
    background-color: $theme-bg-color9;
    touch-action: none;
  }
  &-show {
    display: block;
    // .sel-container{
    // animation: select-down ease 0.5s;
    // }
  }
  &-container {
    display: block;
    left: 0;
    bottom: 0;
    height: calc(100% - 40px);
    overflow-y: auto;
    background-color: #fff;
    animation: select-up ease 0.5s;
    z-index: 1001;
    touch-action: none;
    border-radius: rem(20rem) rem(20rem) 0 0;
  }
  &-header {
    height: rem(146rem);
    box-sizing: border-box;
    border-bottom: $theme-bd-color4 rem(1rem) solid;
    span {
      display: block;
      top: 50%;
      transform: translateY(-50%);
      left: rem(28rem);
      color: $theme-txt-color11;
    }
    h4 {
      line-height: rem(146rem);
      color: $theme-txt-color;
      font-weight: normal;
    }
  }
  &-list {
    height: calc(100% - 19.46667vw);
    padding-left: rem(36rem);
    overflow-y: auto;
    li {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      height: rem(98rem);
      line-height: rem(98rem);
      font-size: rem(48rem);
      color: $theme-txt-color25;
      span {
        display: block;
        width: rem(58rem);
        height: rem(58rem);
        background-position: center;
      }
      img {
        width: rem(28rem);
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: rem(1rem);
        background-color: $theme-bg-color10;
      }
    }
  }
  &-scroll {
    height: calc(100vh - 90px);
    overflow: auto;
  }
  &-list-title {
    width: rem(569rem);
    height: rem(98rem);
    padding-left: rem(8rem);
    box-sizing: border-box;
  }
  &-top {
    z-index: 5;
    margin-bottom: rem(20rem);
    .sel-right {
      justify-content: flex-end;
      border: none;
    }
    .sel-check {
      display: block;
      width: rem(48rem);
      height: rem(48rem);
      background-position: center;
    }
  }
  &-title {
    padding-left: rem(24rem);
  }
  &-money {
    color: $theme-promotion-tab-txt-color;
  }
}
@keyframes select-up {
  from {
    bottom: rem(-712rem);
  }
  to {
    bottom: rem(0rem);
  }
}
@keyframes select-up {
  from {
    bottom: rem(-712rem);
  }
  to {
    bottom: 0;
  }
}
@keyframes select-down {
  from {
    bottom: 0;
  }
  to {
    bottom: rem(-712rem);
  }
}
@keyframes select-down {
  from {
    bottom: 0;
  }
  to {
    bottom: rem(-712rem);
  }
}
