.question {
  &-des {
    textarea {
      height: rem(478rem);
      padding: rem(30rem);
      outline: none;
    }
    &-length {
      right: rem(20rem);
      bottom: rem(20rem);
      color: $theme-txt-color17;
    }
  }
  &-upload {
    height: rem(228rem);
    padding: rem(40rem) rem(28rem) rem(20rem);
    background: map.get($colors, white);
  }
  &-sel {
    color: $theme-txt-color9;
    font-size: rem(32rem);
  }
}
.upload-wrap {
  height: rem(140rem);
}
.upload-num {
  top: 0;
  right: 0;
}
.upload-item {
  display: inline-block;
  margin-right: rem(40rem);
  height: rem(100rem);
  width: rem(100rem);
  img {
    height: rem(100rem);
    width: rem(100rem);
  }
  span {
    top: -rem(18rem);
    right: -rem(18rem);
    display: block;
    width: rem(26rem);
    height: rem(26rem);
    border-radius: 50%;
    background: $theme-txt-color11;
    color: map.get($colors, white);
    line-height: rem(24rem);
  }
}
.upload-tip {
  color: $theme-txt-color9;
  padding-bottom: rem(20rem);
}
.preview-cover {
  // position: absolute;
  width: rem(100rem);
  height: rem(100rem);
  background: url(link('/assets/blue/kok/feedback/upload.webp')) no-repeat;
  background-size: 100% 100%;
}
.question-title {
  margin: rem(40rem) 0 rem(20rem);
  padding-left: rem(28rem);
  height: rem(40rem);
  line-height: rem(40rem);
  color: $theme-txt-color;
  span {
    margin-left: rem(8rem);
    color: $theme-txt-color9;
  }
}
span {
  $icons: 'cunkuan', 'qukuan', 'youxi', 'youhui', 'wangzhan', 'xiugai', 'liushui', 'qita';
  @each $i in $icons {
    &.icon-#{$i} {
      background: url(link('/assets/blue/kok/feedback/' + $i + '.png')) center no-repeat;
      background-size: 100%;
    }
  }
}
